@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;} 
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

#renav{
  position: absolute !important; 
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(148, 80, 35, 0)) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* background: transparent;
  background-color: rgba(2, 2, 2, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px) saturation(80%); */
  color: white;
  font-size: 20px;
  display: flex;
  gap: 28%;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  padding-bottom: 10px;
  z-index: 2;
}


.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #5a361b;
}

.title::after{
  content: '';
  background: #5a361b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.copyRight{
font-size: 14px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin-top: 2.5rem;
}
.logo2 h3{
  display: none;
}

@media (max-width: 700px) {
  .copyRight{
    margin-top: 1rem;
  }
  #counterer{
    display: flex;
    flex-direction: column;
  }
  .imageContainer{
    height: 80vh;
  }
}

@media (max-width: 1000px){
  .logo2 h3{
    display: block;
  }
}
#sticker{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #855f35;
  color: white !important;
  font-size: 18px;
}